<div class="smart-green">
  <center><h1>Online Contacts Schedule</h1></center>

  <ul>
    <h2>
      <li><%= link_to "Kinds", kinds_path %></li>
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><%= link_to "Address", addresses_path %></li>
      <li><%= link_to "Phones", phones_path %></li>
    </h2>
  </ul>
</div>
